* {
    margin:0;
    padding:0;
}

.center{
    width: 1240px;
    margin: auto;
}

body, html {
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    scrollbar-width: none;
}

ul {
    list-style: none;
}

.header, .name, .nav {
    height: 90px;
}

.header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 6;
}

.name {
    float: left;
    font-family:serif;
    font-style:oblique;
    color: rgb(72, 42, 122);
    text-align: center;
    line-height: 105px;
    position: absolute;
    left: 155px;
    font-size: 28px;
}

.nav {
    float: right;
    line-height: 105px;
    position: absolute;
    right: 190px;
    width: 500px;
}

.nav ul{
    display: flex;
}

.nav ul li {
    float: left;
    flex: 1;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color:rgb(180,180,190);

}

.container {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
    position: relative;
    top: -130px;
}

.scoll_module {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}

.module1 {
    z-index: 3;
}

.module2 {
    z-index: 5;
}

.module3 {
    z-index: 4;
}

.module4 {
    z-index: 5;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.face {
    background-color: white;
    width: 610px;
    height: 330px;
    z-index: 4;
    position: absolute;
    top:-400px;
    transform: translateZ(-3px) scale(4);
}

.face .photo {
    position: absolute;
    left: 40px;
    top: 50px;
    width:180px;
    height:227px;
    overflow: hidden;
}

.text {
    position: absolute;
    top: 50px;
    left:255px;
    float:left;
}

.text span{
    display: block;
}

.coffee2 {
    height:860px;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateZ(-5px) scale(6);
}

.projects{
    height:740px;
    position: absolute;
    top: 1950px;
    transform: translateZ(-3px) scale(4);

}

.projects div{
    display: inline-block;
    position:relative;
    width: 33.333%;
    float:left;
    height:100%;
}
.projects div .firstline{
    position:absolute;
    top:325px;
    left:60px;
    font-size: 16px;
    color:white;
}
.projects div .secondline{
    position:absolute;
    top:357px;
    left:60px;
    font-size:26px;
    color:white;
    font-family:'Raleway-Bold',sans-serif;
    font-weight:600;
}

.coffee1{
    height:500px;
    position: absolute;
    top: 2700px;
    left: -500px;
    transform: translateZ(-5px) scale(7);
}

.hello{
    position:relative;
    height:660px;
    background-color: rgb(72,42,122);
}

.contact{
    background-color: white;
    width:100%;
    height:585px;
}

.contact ul li{
    display: inline-block;
}

input[type = text]{
    position:absolute;
    left:615px;
    width:470px;
    box-sizing: border-box;
    border: 1.8px solid rgb(72,42,122);
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color:rgb(72,42,122);
    font-weight: 600;
}

textarea{
    position:absolute;
    left:615px;
    width: 470px;
    height:128px;
    resize:none;
    box-sizing: border-box;
    border: 1.8px solid rgb(72,42,122);
    top:1042px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color:rgb(72,42,122);
    font-weight: 600;
}

input[type=submit] {
    background-color:rgb(72,42,122);
    color: white;
    padding: 12px ;
    border: none;
    cursor: pointer;
    float: right;
    left:980px;
    position:absolute;
    top:1178px;
    width:104px;
}

input[type=submit]:hover {
    background-color: rgb(72,42,122);
}

.infoform{
    font-family: 'Raleway', sans-serif;
}

.footer{
    height:1240px;
    transform: translateZ(-3px) scale(4);
    position: absolute;
    top: 5240px;
}
