* {
    margin: 0;
    padding: 0;
}

.header {
    height: 88px;
    background-color: white;
}

.center{
    width: 1240px;
    margin: auto;
}

.parallax{
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
}

.bg1 {
    height:860px;
}

.parallax_layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.coffee2 {
    transform: translateZ(-5px) scale(8);
}

.face {
    background-color: white;
    width: 610px;
    height: 330px;
    transform: translateZ(-1px) scale(2);
}

.projects{
    background-color: antiquewhite;
    height:740px;
}

.coffee1{
    height:600px;
    overflow-x: hidden;
    overflow-y: auto;
}

.footer{
    height:1240px;
    background-color: cadetblue;
}
